@media only screen and (min-width: 800px) {
        .card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: center; 
    border-radius: 8px;
    padding: 15px; 
    }

    .card img {
    display: flex;
    max-width: 600px;   
    justify-content: center;
    height: auto;
    border-radius: 8px;
    } 
    .card div {
    margin: 0;
    text-align: center;
    }
    .menu, .close {
    display: none;
    }

    .nav {
    position: static; 
    opacity: 1; 
    visibility: visible;
    flex-direction: row; 
    align-items: center;
    background-color: transparent; 
    padding: 0;
    gap: 1rem;
    
    }

    .nav-list {
    display: flex;  
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    gap: 2rem;
    }

    .nav a {
    text-decoration: none;
    color: white;
    }
}
